*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: black;
    color: white;
    padding: 20px;
}
h1{
    display: inline;
}


input{
    width: 60%;
    height: 30px;
}
.product{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display:inline-block;
}
.end{
    color: white;
    background-color: black;
    text-align: center;
}